.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  animation: ripple infinite 1.2s;
  box-shadow: 0 0 20px 0 red;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.25,0.25,1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
  }
}